<div class="container-centered">
    <div>
        <div class="card">
            <div class="card-header">
                Do you really want to delete contact?
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger" (click)="delContact()">Yes</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" (click)="noDelete()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>